<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="lottery">
      <ion-icon
        aria-hidden="true"
        src="../../assets/icon/lottery.svg"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wooden-fish">
      <ion-icon
        aria-hidden="true"
        src="../../assets/icon/muyu.svg"
        name="ellipse"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="lb">
      <ion-icon
        aria-hidden="true"
        src="../../assets/icon/xb.svg"
        name="lbxx"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
