 #container {
     position: relative;
     /* 父容器设置为相对定位 */
     height: 100%;
     background-color: black;
 }
 
 .content {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     width: 63%;
 }
 
 #video {
     display: none;
 }